 * {
      box-sizing: border-box;
  }
  body {
      color: #878787;
      margin: 0;
      font-family: sans-serif;
      text-align: center;
  }
  img {
      max-width: 100%;
  }
  a {
      text-decoration: none;
  }
  .nav-header {
      background-color: #e6e6fa;
      height: 100px;
      display: flex;
  }
  .nav-div {
      margin: auto;
  }
  .logo-img {
      width: 120px;
      margin-left: 20px;
  }
  .search-icon {
      margin: 30px;
  }
  .nav-bar {
      list-style-type: none;
      display: flex;
  }
  .nav-bar-link {
      color: #878787;
      font-size: 24px;
      padding: 20px;
  }
  .main-header {
      background-color: white;
      background-size: cover;
      background-image: url("pics/titlepic.png");
      height: 300px;
      background-repeat: no-repeat;
  }
  .main-header-title {
      font-size: 2.5em;
      color: #EE82EE;
      text-transform: uppercase;
      font-weight: normal;
      padding-left: 75px;
      text-shadow: 3px 2px purple;
      margin-top: 0;
      padding-top: 0;
      text-align: center;
      background-size: 500px, 300px;
  }
}
.main-header-intro {
    line-height: 1.5em;
    width: 50%;
    margin: auto;
    padding: 40px;
    color: white;
    text-align: justify;
}
.intro {
    width: 60%;
    margin: auto;
}
.box {
    display: flex;
    width: 80%;
    margin: auto;
}
.card {
    width: 100%;
    padding: 20px;
    text-align: left;
    border: solid 1px;
    border-radius: 8px;
    margin: 15px;
    background-color: #e6e6fa;
    box-shadow: 5px 5px 5px gray;
}
.footer {
    height: 40px;
    background-color: gray;
    padding: 5px;
}
.bigcard {
    width: 50%;
    padding: 20px;
    text-align: center;
    border: solid 1px;
    border-radius: 8px;
    margin: 15px;
    background-color: #e6e6fa;
    box-shadow: 5px 5px 5px gray;
}
@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
h2 {
    animation: bounceIn 2s;
}
#contact {
    list-style-type: none;
}
.bigbox {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}
    
